@font-face {
  font-family: 'FigtreeSemiBold';
  src: local('Figtree-SemiBold')
    url('../assets/fonts/static/Figtree-SemiBold.ttf');
}

:root {
  --primaryFont: 'Figtree-SemiBold', sans-serif;

  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--primaryFont);
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--white);
  max-width: 95%;
  border-radius: 1rem;
  border: 1px solid;
  box-shadow: 6px 6px 0px 0px var(--black);
  padding: 2.1rem;
}

p {
  font-size: 1.6rem;
}

img {
  border-radius: 0.8rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tag {
  padding: 1rem 1.5rem;
  background-color: var(--yellow);
  border-radius: 0.5rem;
  display: inline-block;
  color: var(--black);
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.createdAt {
  font-size: 1.4rem;
}

.title {
  font-weight: 800;
}

.content {
  margin-top: 1.5rem;
}

.description {
  color: var(--grey);
  line-height: 1.5;
}

.author {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  font-weight: 800;
}

.author img {
  height: 15%;
  width: 15%;
  object-fit: cover;
}

.author p {
  font-size: 1.4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
